/*@keyframes glow {
	0%   {text-shadow: 0px 0px 5px #1cff9f;}
  100%  {text-shadow: 0px 0px 30px #1cff9f;}
}*/

@keyframes times-animation {
  0% {
    font-family: "Times Heart";
    color: #ff00f6;

  }

  20% {
    font-family: "Times Bloom";
    color: #00fcff;
  }

  40% {
    font-family: "Times Smile";
    color: #fff600;

  }

  60% {
    font-family: "Times Star";
    color: #50ff00;
  }

  80% {
    font-family: "Times Sun";
    color: #ff0000;
  }

  100% {
    font-family: "Times Heart";
    color: #ff00f6;
  }
}

@keyframes color-animation {
  0% {}

  20% {
    color: cyan;
  }

  40% {
    color: yellow;
  }

  60% {
    color: green;
  }

  80% {
    color: red;
  }

  100% {
    color: magenta;
  }
}


@keyframes decay {
  0% {
    font-variation-settings: "DCAY" 0;
  }

  50% {
    font-variation-settings: "DCAY" 200;
  }

  100% {
    font-variation-settings: "DCAY" 0;
  }
}

.video-bg {
	height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -100;
}

.Video {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -5;
  mix-blend-mode: screen;
}

.floating{
  position: relative;
  width: 100%;
  height: 100%;
}

#background {
  position: fixed;
  top: -1%;
  min-height: 101%;
  min-width: 100%;
  overflow: hidden;
  /*--filter: blur(2px);--*/
  z-index: -10;
}

#looking {
  position: fixed;
  left: 1156px;
  top: 390px;
  width: 350px;
}

#looking-rever {
  position: fixed;
  left: 110px;
  top: 390px;
  width: 350px;
}

#twinkle {
  position: fixed;
  left: 192px;
  top: 606px;
  width: 283px;
}

#about {
  position: fixed;
  left: 641px;
  top: 13px;
  width: 159px;
}

#text {
  transition:visibility 1s, opacity 1s;;
  visibility:hidden;
  opacity: 0;
  position: fixed;
  z-index: 99999;
  left: 70px;
  top: 80px;
  width: 1335px;
} 

#about:hover{
  cursor: pointer;
}

#about:hover +#text{
  visibility:visible;
  opacity: 1;
}


#logo {
  position: fixed;
  left: 349px;
  top: 240px;
  width: 772px;
}


.image-bg {
  position: fixed;
  left: -100%;
  bottom: 0;
  z-index: -100;
}

body {
  /* margin-left: 0;
  margin-right: 0; */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1,
h2 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #86ca92;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color: #86ca92;
}

.link {
  text-decoration: none;
  color: #86ca92;
}

#CC {
  position: fixed;
  bottom: 0;
  right: 0;
}

.CC_icons {
  padding-right: .1em;
}



.head {
  color: white;
  font-family: AUTHENTIC SANS Condensed;
  font-size: 1.2em;
  margin: 0;
  padding: .2em;
}


@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
  from {background-position: 0;}
  to {background-position:10000px 0;}
}

.clouds {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
display:block;
}


.clouds{
  background:transparent url('./assets/cloud4.png') repeat top center;
  z-index:-1;

-moz-animation:move-clouds-back 200s linear infinite;
-ms-animation:move-clouds-back 200s linear infinite;
-o-animation:move-clouds-back 200s linear infinite;
-webkit-animation:move-clouds-back 200s linear infinite;
animation:move-clouds-back 200s linear infinite;

}