
@font-face {
  font-family: 'Menlo';
  src: url('assets/Menlo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#body {
  transition: all 1s;
  position: absolute;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;

}

.video-bg {
	height: 100vh;
}


.text{
  position: absolute;
  font-family: 'Menlo'; /*,'Consolas';*/
  text-align: left;
  opacity: 1;
  /** 文本1 */
  /* vertical-align: top; */
  font-size: 14px;
  /* font-weight: bold; */
  letter-spacing: 0px;
  line-height: 16.39px;
  color: rgba(140, 67, 67, 1);
}

#container{
  width: 1920px;
  height: 1080px;
  overflow:scroll;
}


.G1 img {
  position: fixed;
  width: 90%; /* 图片宽度设置为视口宽度的40% */
  top: 50%; /* 顶部距离视口顶部50% */
  left: 50%; /* 左侧距离视口左侧50% */
  transform: translate(-50%, -50%); /* 向上和向左移动自身尺寸的50%，以确保居中 */
}


@keyframes grass {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  50.1% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
